.admin_login {
    min-height: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addon_icon {display: block;padding: 8px 6px 0;}


@media only screen and (max-width : 533px) {
    .admin_login {
        width: 90%;
    }   
}